img {
    width: 50px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background: rgb(243, 225, 153);
}

#pokemon-header {
    background: #C36F35;
    font-family: 'Ranchers', cursive;
    font-family: 'Slackey', cursive;
    font-size: 25px;
    margin-left: 50px;
}

th {
    height: 80px;
    text-align: left;
}

#pokemon-tbody {
    font-family: 'IBM Plex Mono', monospace;
}
