
section#results {
    /* background-color: purple; */
    display: flex;
    order: 2;
    flex-direction: column;
    flex-flow: row wrap;
}

#results-table {
    /* background-color: lightcoral; */
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

thead {
    font-weight: bold;
    color: purple;
}


td {
    /* background-color: aqua; */
    height: 2px;
    color: purple;
}

/* td:nth-child(even) {
    background-color: yellowgreen;
}

tr:nth-child(odd) {
    background-color: yellow;
} */

.column-headings {
    height: 2em;
    background-color: transparent;
}

img {
    width: 40px;
}