* {
    font-family: Helvetica, sans-serif;
    /* box-sizing: border-box; */
    margin: 0px auto;
}

/* ----------- Body > Header styles ----------- */
body {
    display: inline-block
    align-content; center;
}

header {
    background-color: purple;
}

.logo {
    display: flex;
    width: auto;
}

h1 {
    background-color: purple;
    color: red;
    font-style: italic;
    font-size: 40px;
    padding: 2px;
    text-align: center;
}

/* ----------- Body > Main styles ----------- */
h2 {
    color: purple;
    text-align: center;
}

main {
    background-color: yellowgreen;
}

div {
    padding: 15px 0px 25px 0px;
}

footer {
    display: flex;
    padding: 2em;
}

a:hover {
    color: red;
    font-style: italic;
}

hr {
    margin: 15px;
    /* outline: 2px dashed red; */
    border: 1px solid red;
}