* {
    font-family: Helvetica, sans-serif;
    /* box-sizing: border-box; */
    margin: 0px auto;
}

/* ----------- Body > Header styles ----------- */
header {
    background-color: aqua;
}

.logo {
    width: auto;
    /* align-content: center; */
}

h1 {
    color: purple;
    background-color: red;
    font-style: italic;
    padding: 2px;
    text-align: center;
}

/* ----------- Body > Main styles ----------- */
h2 {
    color: purple;
}
main {
    background-color: yellowgreen;
}