* {
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
    
}

/* ----------- Body > Header styles ----------- */
.logo {
    width: 15%;
}
h1 {
    color: purple;
    background-color: red;
    font-style: italic;
    padding: 2px 2px 2px 2px;
    margin: 2px 2px 2px 2px;
}

