main {
    margin: 10px;
}

header {
    display: flex;
    justify-content: flex-start;
    background: black;
    color: white;
    padding: 0px 10px 0px 10px;
}

section {
    font-family: sans-serif;
    display: flex;
    justify-content: flex-start;
    font-size: 10px;
    flex-direction: row;
    margin: 20px;
}

#poke-dex {
    font-weight: bold;
    font-size: 14px;
}

img {
    width: 20px;
    height: 20px;
}