img {
    width: 50px;
}
table {
    width: 100%;
    border-collapse: collapse;
    font-size: .8em;
}
thead {
    font-weight: bold;
}
td {
    padding: 7px 0; 
    white-space: nowrap;
}

tr:nth-child(even) {
    background: rgb(248, 179, 76);
}

table,tr {
    border: 10px solid black;
}

th {
    height: 100px;
}
