#headerInfo {
    font-family: 'Press Start 2P', cursive; 
    padding: 10px; 

}
header {
    background-image: url("https://cdn-images-1.medium.com/max/1600/1*7cp_6xnOq1lmBXP4Oo_Ltg.png");
    height: 500px;
    border: 20px solid black;
}

#input-boxes {
    padding: 30px;
    font-family: 'Press Start 2P', cursive;  
    

}




